.thread section[role=main] {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #DDDDDD;
    overflow-y: scroll;
}
.thread #pageInfo {
    position:fixed;
    right:20px;
    bottom:20px;
    width:150px;
    height:30px;
    text-align:right;
}
.thread header[role=banner] {
    position: absolute;
    z-index: 1;
}

.thread #postList {
    margin: 128px auto 60px auto;
    width: 640px;
    background-color:#F1F1F1;
}

.thread .post {
    position: relative;
    text-align: left;
    padding: 5px;
    min-height: 200px;
    margin:2px 5px 2px 5px;
    background-color:white;
}

    .thread .post .avatar {
        width: 64px;
        height: 64px;
        margin: 5px;
        position: absolute;
    }

    .thread .post .message {
        width: 500px;
        margin: 5px 5px 25px 84px;
    }
